// Colors

$white-color: #fff !default;
$black-color: #000 !default;
$gray-color: #f6f6f6 !default;
$paragraph-color: #273849 !default;

$primary-color: #4fc08d !default;
$yellow-color: #F0C664 !default;

// CSS Grid
$grid-gap: 15px;

// Fonts
$primary-font-family: 'Quicksand', sans-serif;
