// SCSS Importer
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@import "variables";
@import "global";

// Components
@import "components/scoreboard";
@import "components/player-form";
@import "components/player";
@import "components/statistics";
@import "components/stopwatch";
